<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519341104749-q0cvo3d23la2of3j87ohb8m5hcemefuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519341104749-q0cvo3d23la2of3j87ohb8m5hcemefuk</string>
	<key>API_KEY</key>
	<string>AIzaSyBUOqX41YkCuWYk7TijCExNU32F1sbOBVI</string>
	<key>GCM_SENDER_ID</key>
	<string>519341104749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>shoescart-29879</string>
	<key>STORAGE_BUCKET</key>
	<string>shoescart-29879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519341104749:ios:07edfae8210822953e6964</string>
</dict>
</plist>